.contenedorAdultos {
    margin: 25px 0px;
}

.contenedorNiños {
    margin: 25px 0px;
}

.marcador {
    display: flex;
}

.numContador {
    margin: 0px 10px;
    border: saddlebrown solid;
}

.contenedorAdultos>.marcador>button {
    width: 23px;
    height: 23px;
    top: 244px;
    left: 537px;
    border-radius: 4px;
    border: 1px solid #828282;
    color: #828282;
}

.contenedorAdultos>.marcador>button:hover {
    border: 1px solid white;
    background-color: #d8d8d8;
    color: white;
    transition: 0.4s;
}

.contenedorAdultos>.edad {
    color: #bdbdbd;
    font-size: 12px;
}

.contenedorNiños>.marcador>button {
    width: 23px;
    height: 23px;
    top: 244px;
    left: 537px;
    border-radius: 4px;
    border: 1px solid #828282;
    color: #828282;
}

.contenedorNiños>.marcador>button:hover {
    border: 1px solid white;
    background-color: #d8d8d8;
    color: white;
    transition: 0.4s;
}

.contenedorNiños>.edad {
    margin-top: 0;
    font-size: 12px;
    color: #bdbdbd;
}

.NcontadorA {
    margin: 0px 10px;
}

.contenedor {
    position: absolute;
    left: 37.8%;
}